@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Outfit-Light.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Outfit-Regular.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts//Outfit-Medium.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Outfit-SemiBold.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Outfit-Bold.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Outfit-ExtraBold.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Outfit-Black.ttf') format('trueType');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Outfit';
    overflow-x: hidden;
}

.container {
    max-width: 90%;
}

/* header-part */
.header-part {
    border: 0px solid #000;
    background: linear-gradient(180deg, rgba(140, 210, 210, 0.00) 0%, #FFF 41.46%, #FFF 85.73%, rgba(140, 210, 210, 0.50) 100%);
    background-image: url('../images/bg.svg');
    background-size: cover;
}

.header-part .navbar .navbar-brand img {
    width: 100%;
}

.header-part .navbar .navbar-nav .nav-link {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 60px;
    padding: 0;
}

.header-part .navbar .navbar-nav .nav-link:hover {
    color: #023A4E;
}

.header-part .navbar .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.banner-section {
    padding-bottom: 48px;
    padding-top: 48px;
}

.banner-section .left-part .text-part h2 {
    color: #000;
    font-size: 84px;
    font-style: normal;
    font-weight: 300;
    max-width: 70%;
    margin-bottom: 80px;
}

.banner-section .text-image-part {
    display: flex;
    position: relative;
    z-index: 2;
}

.banner-section .text-image-part .image-part {
    position: absolute;
    right: -50px;
    width: 84%;
    z-index: -1;
    bottom: 0;
}

.banner-section .text-image-part .image-part .time-part {
    position: absolute;
    top: 50px;
    right: 120px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 3.2px;
}

.banner-section .text-image-part .image-part img {
    width: 100%;
}

.banner-section .left-part .text-part p {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 90px;
    max-width: 18%;
}
.banner-section .box-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 80px;
}
.banner-section .box-part .box{
    text-align: center;
    border-radius: 30px;
    border: 1px solid #000;
    width: 48%;
    padding: 30px 14px;
    margin: auto;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-section .box-part .box h6{
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    position: relative;
    padding-bottom: 20px;
}
.banner-section .box-part .box h6::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 63px;
    background-color: #000;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}
.banner-section .box-part .box p{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 20px;
}
.banner-section .left-part .text-part .outline-btn {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    letter-spacing: 3.6px;
    text-transform: lowercase;
    padding: 22px;
    border: 1px solid #000;
    border-radius: 80px;
    background-color: #fff;
    margin-bottom: 50px;
}
.banner-section .ev-logo-part{
    display: flex;
    justify-content: flex-end;
}

.navbar-brand{
    flex: 1;
}

/* Footer scetion css syart here */
.top-footer-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    border-bottom: 1px solid #000;
}

.top-footer-part .left-part h2 {
    color: #000;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: lowercase;
    margin-bottom: 0;
}

.top-footer-part .center-part .text-part p {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    margin-bottom: 40px;
}

.top-footer-part .center-part {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-footer-part .center-part .text-part .signIn-btn {
    padding: 22px 46px;
    background-color: #023A4E;
    border: 1px solid #023A4E;
    border-radius: 83px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
    letter-spacing: 4px;
    text-transform: lowercase;
    transition: all 0.6s;
}

.top-footer-part .center-part .text-part .signIn-btn:hover {
    transform: scale(1.05);
}

.top-footer-part .right-part {
    flex: 2;
}

.top-footer-part .right-part img {
    width: 100%;
}

.second-footer-part {
    padding: 100px 0;
}

.second-footer-part .link-barcode-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.second-footer-part .link-barcode-part .left-part h6 {
    color: #000;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 4.8px;
    margin-bottom: 30px;
}

.second-footer-part .link-barcode-part .left-part p {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3.2px;
    margin-bottom: 0;
}

.second-footer-part .link-barcode-part .left-part p a {
    text-decoration: none;
    color: #000;
}

.second-footer-part .link-barcode-part .left-part p a:hover {
    color: #023A4E;
}

.second-footer-part .link-barcode-part .right-part {
    display: flex;
    align-items: center;
}

.second-footer-part .link-barcode-part .right-part .adress {
    margin-right: 30px;
}

.second-footer-part .link-barcode-part .right-part .adress p {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3.2px;
    margin-bottom: 0;
    text-align: right;
}

.second-footer-part .link-barcode-part .right-part img {
    width: 100%;
}

.social-media-part {
    padding-top: 118px;
    max-width: 80%;
    margin: auto;
}

.social-media-part p {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 4.8px;
    text-align: center;
}

.social-media-link-part {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.social-media-link-part a {
    transition: all 0.6s;
    text-decoration: none;
}

.social-media-link-part a:hover {
    transform: scale(1.08);
}





.home-page .secondsection {
    width: 100%;
    padding: 70px 0 50px;
    background: #fff;
  }
  .secondsection .content-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
  .secondsection .content-wrapper .right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
  .secondsection .content-wrapper .left-part {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content-wrapper .right-part .section-head {
    color: #000;
    text-align: right;
    font-size: 72px;
    font-weight: 300;
    line-height: 110%;
    white-space: nowrap;
    margin: 0;
  }
  .content-wrapper .right-part .image-block {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  .content-wrapper .right-part .image-block img {
    width: 100%;
  }
  .content-wrapper .right-part .image-block .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    top: 35px;
    right: 30px;
  }
  .content-wrapper .right-part .image-block .text-block p {
    color: #000;
    text-align: right;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 3.2px;
    margin: 0;
  }
  .secondsection .content-wrapper .left-part .card-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .secondsection .content-wrapper .left-part .card-row .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 36px 26px 10px;
    border-radius: 30px;
    border: 1px solid #000;
    width: 315px;
    height: 235px;
  }
  .secondsection .content-wrapper .left-part .card-row .card-box .title-text {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    text-transform: lowercase;
    white-space: nowrap;
    margin: 0;
  }
  .secondsection .content-wrapper .left-part .card-row .card-box .line {
    display: block;
    width: 63px;
    height: 3px;
    min-height: 3px;
    background-color: #000;
  }
  .secondsection .content-wrapper .left-part .card-row .card-box .desc {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 0;
  }
 
  /* -----second section css end----- */


  /* missin section start here */

  .home-page .mission-section {
    background: linear-gradient(to bottom, #FCD13980, #FFFFFF, #FFFFFF, #8CD29780);
    padding: 50px 0;
  }
  .home-page .mission-section .content-title {
    font-size: 84px;
    text-align: center;
  }
  .home-page .mission-section .content-row {
    display: flex;
    column-gap: 52px;
    margin-top: 73px;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  .home-page .mission-section .content-row .row-title {
    font-size: 48px;
    text-align: right;
  }
  .home-page .mission-section .content-row .row-card {
    border: 1px solid #000;
    padding: 32px;
    border-radius: 30px;
    text-align: center;
    max-width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    height: 220px;
    /* max-height: 228px; */
    z-index: 2;
  }
  .home-page .mission-section .content-row .large-card-width {
    max-width: 450px;
  }
  .home-page .mission-section .content-row .row-card .line-break {
    height: 3px;
    width: 64px;
    border-top: 3px solid #000;
    margin: 20px 0 14px 0;
  }
  .home-page .mission-section .content-row .row-card .row-card-title {
    font-size: 32px;
  }
  .home-page .mission-section .content-row .row-card .row-card-content {
    font-size: 24px;
    margin: auto;
  }
  .home-page .mission-section .content-row .row-button {
    border-radius: 83px;
    background: #023A4E;
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 12px 70px;
    margin-left: -35px;
    z-index: 1;
    border: 0;
    transition: all 0.5s;
  }
  .home-page .mission-section .content-row .row-button:hover{
    transform: scale(1.05);
  }
  .home-page .mission-section .content-title-with-shadow {
    color: #000235;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 19.2px;
    margin-top: 73px;
  }
  .home-page .mission-section .content-row .row-card.second-row-card-padding {
    width: 360px;
    max-width: 360px;
  }
  .home-page .mission-section .content-row.second-row {
    column-gap: 230px;
  }



   /* --@ responsive css for second section @-- */
   @media (max-width: 1750px) {
    .content-wrapper .right-part .section-head {
      font-size: 60px;
    }
    .home-page .mission-section .content-row {
        gap: 25px;
      }
      .home-page .mission-section .content-row .row-card {
        /* height: 100%; */
        justify-content: flex-start;
      }
      .home-page .mission-section .content-row .row-card .row-card-title {
        font-size: 26px;
        white-space: nowrap;
      }
      .home-page .mission-section .content-row .row-card .row-card-content {
        font-size: 20px;
      }
      .home-page .mission-section .content-title {
        font-size: 72px;
      }
      .home-page .mission-section .content-title-with-shadow {
        font-size: 84px;
      }
      .home-page .mission-section .content-row.second-row {
        column-gap: 90px;
      }
      .home-page .mission-section .content-row .row-button {
        margin-left: -30px;
      }
      .home-page .mission-section .content-row .row-title {
        font-size: 36px;
      }
  }
@media screen and (max-width: 1660px) {
    .header-part .navbar .navbar-nav .nav-link{
        margin-right: 24px;
    }
    .banner-section .box-part{
        gap: 16px;
    }
    .banner-section .box-part .box{
        width: 48%;
        height: 260px;
    }
    .container {
        max-width: 95%;
    }
    .banner-section .left-part .text-part p{
        max-width: 25%;
    }
    .banner-section .ev-logo-part img{
        width: 70%;
    }
    .banner-section .text-image-part .image-part .time-part {
        position: absolute;
        top: 36px;
        right: 100px;
    }
}
@media screen and (max-width: 1440px) {
    .header-part .navbar .navbar-brand img {
        width: 60%;
    }
    .header-part .navbar .navbar-nav .nav-link{
        font-size: 24px;
    }
    .banner-section .left-part .text-part h2{
        font-size: 70px;
    }
    .banner-section .left-part .text-part p{
        font-size: 24px;
    }
    .banner-section .box-part .box h6{
        font-size: 24px;
    }
    .banner-section .box-part .box p{
        font-size: 18px;
    }
    .banner-section .text-image-part .image-part{
        width: 76%;
        right: -40px;
    }
    .banner-section .text-image-part .image-part .time-part{
        font-size: 24px;
        top: 38px;
        right: 80px;
    }
    .banner-section .box-part .box{
        height: 200px;
    }
    .ev-logo-part img{
        width: 70%;
    }
}

  @media (max-width: 1500px) {
    .secondsection .container {
      max-width: 95%;
    }
    .content-wrapper .right-part .section-head {
      font-size: 56px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .title-text {
      font-size: 26px;
    }
    .secondsection .content-wrapper .left-part .card-row {
      gap: 15px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box {
      padding: 26px 18px 12px;
      min-width: 300px;
      width: 300px;
    }
    .content-wrapper .right-part .image-block .text-block p {
      font-size: 28px;
    }
  }
  @media (max-width: 1400px) {
    .content-wrapper .right-part .image-block .text-block p {
      font-size: 22px;
      letter-spacing: 1.2px;
    }
    .content-wrapper .right-part .image-block .text-block {
      top: 25px;
      right: 20px;
    }
    .secondsection .content-wrapper .left-part,
    .secondsection .content-wrapper .left-part .card-row {
      gap: 10px;
    }
    .content-wrapper .right-part .section-head {
      font-size: 48px;
    }
    .content-wrapper .right-part .image-block img {
      width: 90%;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box {
      padding: 20px 14px 12px;
      min-width: 275px;
      width: 275px;
      height: 180px;
      gap: 8px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .title-text {
      font-size: 22px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .desc {
      font-size: 16px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .line {
      height: 2px;
      min-height: 2px;
    }
    .home-page .mission-section .content-row.second-row {
        column-gap: 37px;
      }
      .home-page .mission-section .content-row .row-button {
        font-size: 30px;
        padding-left: 68px;
        padding-right: 46px;
      }
      .home-page .mission-section .content-row {
        flex-wrap: wrap;
      }
      .home-page .mission-section .content-row .row-card {
        max-width: 240px;
        height: 230px;
        padding: 20px;
      }
      .home-page .mission-section .content-row .large-card-width {
        max-width: 350px;
      }
  }
  @media screen and (max-width: 1366px) {
    .top-footer-part .center-part .text-part .signIn-btn{
        font-size: 30px;
    }
    .second-footer-part .link-barcode-part .left-part h6{
        font-size: 32px;
    }
    .top-footer-part .left-part h2{
        font-size: 80px;
    }
  }
@media screen and (max-width: 1280px) {
    .banner-section .left-part .text-part h2 {
        font-size: 56px;
    }
    .header-part .navbar .navbar-nav .nav-link{
        font-size: 20px;
        margin-right: 20px;
    }
    .banner-section .box-part .box{
        padding: 20px 14px;
    }
    .top-footer-part .center-part .text-part p{
        font-size: 24px;
    }
    .top-footer-part .center-part .text-part .signIn-btn{
        font-size: 24px;
    }
    .top-footer-part .left-part h2{
        font-size: 80px;
    }
    .second-footer-part .link-barcode-part .left-part h6{
        font-size: 26px;
    }
    .second-footer-part .link-barcode-part .left-part p, .second-footer-part .link-barcode-part .right-part .adress p{
        font-size: 28px;
    }
    .social-media-part p{
        font-size: 32px;
    }
    .home-page .mission-section .content-row {
        gap: 14px;
      }
      .home-page .mission-section .content-row .row-card{
        max-width: 240px;
        height: 190px;
        padding: 12px;
      }
      .home-page .mission-section .content-row .large-card-width {
        max-width: 316px;
      }
      .home-page .mission-section .content-row .row-title {
        font-size: 32px
      }
      .home-page .mission-section .container {
        max-width: 95%;
      }
      .home-page .mission-section .content-title {
        font-size: 64px;
      }
      .home-page .mission-section .content-title-with-shadow {
        font-size: 72px;
      }
}
@media (max-width: 1199px) {
    .content-wrapper .right-part .section-head {
      font-size: 38px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box {
      padding: 16px 10px 12px;
      min-width: 220px;
      width: 220px;
      height: 150px;
      gap: 5px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .desc {
      font-size: 13px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .title-text {
      font-size: 18px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .line {
      width: 50px;
    }
    .content-wrapper .right-part .image-block .text-block p {
      font-size: 18px;
    }
    .content-wrapper .right-part .image-block .text-block {
      top: 18px;
      right: 18px;
    }
  }
@media screen and (max-width: 1120px) {
    .banner-section .box-part .box h6{
        font-size: 18px;
    }
    .banner-section .box-part .box p{
        font-size: 14px;
    }
    .banner-section .text-image-part .image-part .time-part {
        font-size: 17px;
        top: 32px;
        right: 80px;
    }
    .banner-section .left-part .text-part .outline-btn{
        font-size: 24px;
    }
}
@media screen and (max-width: 1024px) {
    .banner-section .box-part {
        gap: 12px;
        margin-bottom: 40px;
    }
    .banner-section .box-part .box{
        height: 170px;
    }
    .banner-section .left-part .text-part h2 {
        font-size: 46px;
        margin-bottom: 40px;
    }
    .banner-section .left-part .text-part p{
        margin-bottom: 40px;
    }
    .top-footer-part .left-part h2{
        font-size: 60px;
    }
    .second-footer-part .link-barcode-part .left-part h6 {
        font-size: 22px;
    }
    .second-footer-part .link-barcode-part .left-part p, .second-footer-part .link-barcode-part .right-part .adress p {
        font-size: 20px;
    }
    .social-media-part{
        max-width: 90%;
    }
    .home-page .mission-section .content-row{
        justify-content: center;
    }
    .home-page .mission-section .content-row .row-card{
        width: 42%;
        max-width: 42% !important;
    }
    .home-page .mission-section .content-row.second-row{
        justify-content: center !important;
    margin: auto;
    margin-top: 2rem;
    }
    .home-page .mission-section .content-row.second-row .d-flex{
        width: 100%;
        justify-content: center;
    }
    .top-footer-part .center-part .text-part p {
        font-size: 20px;
    }
    .top-footer-part .left-part h2 {
        font-size: 50px;
    }
    .second-footer-part .link-barcode-part .left-part h6 {
        font-size: 26px !important;
    }
}
@media (min-width: 992px) {
    .secondsection .content-wrapper.d-mobile {
      display: none;
    }
  }
@media screen and (max-width:991px) {
    .header-part .navbar .navbar-nav .nav-link{
        margin-bottom: 16px;
    }
    .banner-section .box-part{
        margin-top: 30px;
        gap: 20px;
    }
    .banner-section .ev-logo-part {
        display: flex;
        justify-content: center;
    }
    .banner-section .box-part .box h6 {
        font-size: 22px;
    }
    .banner-section .box-part .box p {
        font-size: 18px;
    }
    .banner-section .text-image-part .image-part {
        width: 80%;
    }
    .top-footer-part{
        flex-wrap: wrap;
        gap: 30px;
    }
    .top-footer-part .right-part, .top-footer-part .center-part{
        flex: auto;
    }
    .second-footer-part .link-barcode-part{
        flex-wrap: wrap;
        gap: 30px;
    }
    .second-footer-part .link-barcode-part .left-part{
        width: 100%;
        text-align: center;
    }
    .second-footer-part{
        padding: 50px 0;
    }
    .social-media-part{
        padding-top: 50px;
    }.social-media-link-part a img{
        width: 40px;
    }
    .banner-section .text-image-part .image-part{
        right: -20px;
    }
    .secondsection .content-wrapper.d-desktop {
        display: none;
      }
      .secondsection .content-wrapper.d-mobile {
        grid-template-columns: 100%;
        row-gap: 45px;
      }
      .secondsection .content-wrapper .right-part {
        align-items: center;
        gap: 20px;
      }
      .content-wrapper .right-part .image-block img {
        width: 50%;
      }
      .content-wrapper .right-part .image-block {
        align-items: center;
        justify-content: center;
      }
      .content-wrapper .right-part .image-block .text-block {
        top: 10%;
        right: 30%;
      }
      .secondsection .content-wrapper .left-part {
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .secondsection .content-wrapper .left-part .card-row {
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .secondsection .content-wrapper .left-part .card-row .card-box {
        width: 40%;
        /* min-width: 40%; */
        padding: 26px 13px;
        height: 165px;
      }
      .content-wrapper .right-part .section-head {
        white-space: unset;
        text-align: center;
      }
      .home-page .secondsection {
        padding: 40px 0;
      }
      .secondsection .content-wrapper .left-part .card-row .card-box .title-text {
        font-size: 24px;
      }
      .secondsection .content-wrapper .left-part .card-row .card-box .line {
        width: 30px;
      }
      .secondsection .content-wrapper .left-part .card-row .card-box .desc {
        font-size: 16px;
      }
      .top-footer-part .left-part{
          width: 100%;
          text-align: center;
      }
      .top-footer-part .center-part .text-part{
          text-align: center;
      }.home-page .mission-section .content-row .row-card{
          height: 220px !important;
      }
      .home-page .mission-section .content-row .row-card{
          justify-content: center !important;
      }
      .home-page .mission-section .content-row .row-card .row-card-content{
          margin: 0 !important;
      }
      .home-page .mission-section .content-title {
        font-size: 40px ;
    }
}
@media screen and (max-width: 767px) {
    .content-wrapper .right-part .image-block img {
      width: 65%;
    }
    .content-wrapper .right-part .image-block .text-block {
      right: 20%;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box {
      flex: 1;
      min-width: 290px;
    }
    .home-page .mission-section .content-row .row-card {
        width: 100% !important;
        max-width: 100% !important;
    }
    .home-page .mission-section .content-row .row-title br{
        display: none;
    }
    .home-page .mission-section .content-row{
        margin-top: 30px;
    }
    .home-page .mission-section .content-title-with-shadow {
        font-size: 40px;
        letter-spacing: 10px;
        margin-top: 30px;
    }
    .home-page .mission-section .content-row .row-button{
        padding-left: 20px;
        padding-right: 20px;
    }
  }
@media screen and (max-width: 680px) {
    .banner-section .left-part .text-part h2{
        max-width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .banner-section .left-part .text-part p{
        max-width: 100%;
        text-align: center;
    }
    .banner-section .left-part  .text-part{
        text-align: center;
    }
    .banner-section .text-image-part .image-part img{
        display: none;
    }
    .banner-section .left-part .text-part h2, .banner-section .left-part .text-part p{
        margin-bottom: 20px;
    }
    .banner-section .text-image-part .image-part .time-part {
        font-size: 17px;
        top: -18px;
        right: auto;
        text-align: center;
    }
    .banner-section .box-part .box{
        width: 100%;
    }
    .second-footer-part .link-barcode-part .right-part {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }
    .footer-part .link-barcode-part .right-part .adress p {
        text-align: center;
    }
    .social-media-link-part{
        margin-top: 20px;
    }
    .social-media-link-part {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .second-footer-part .link-barcode-part .left-part h6{
        margin-bottom: 10px;
    }
    .top-footer-part .left-part h2 {
        font-size: 40px;
        text-align: center;
    }
    .top-footer-part .left-part{
        width: 100%;
    }
    .top-footer-part{
        padding: 30px 0;
    }
    .banner-section{
        padding: 20px 0;
    }
    .header-part .navbar .navbar-brand img {
        width: 75%;
    }
    .home-page .mission-section .content-title {
        font-size: 24px;
    }
    .second-footer-part .link-barcode-part .left-part h6{
        font-size: 24px !important;
    }
}
  
  @media (max-width: 575px) {
    .secondsection .content-wrapper .left-part .card-row {
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box {
      height: auto;
    }
    .content-wrapper .right-part .section-head {
      font-size: 26px;
    }
    .content-wrapper .right-part .image-block .text-block p {
      font-size: 16px;
    }
    .content-wrapper .right-part .image-block img {
      width: 100%;
    }
    .content-wrapper .right-part .image-block .text-block {
      right: 5%;
      top: 8%;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .title-text {
      font-size: 22px;
      padding-bottom: 20px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .desc {
      font-size: 18px;
      margin-top: 20px;
    }
    .secondsection .content-wrapper .left-part .card-row .card-box .line{
        width: 60px;
    }
  }
  @media (max-width: 425px) {
    .secondsection .content-wrapper .left-part .card-row .card-box{
      padding: 15px;
      min-width: 265px;
    }
    .secondsection .content-wrapper .right-part,
    .secondsection .content-wrapper .left-part .card-row,
    .secondsection .content-wrapper .left-part{
      gap: 15px;
    }
    .secondsection .content-wrapper.d-mobile{
      row-gap: 25px;
    }
  }
  
  .navbar-toggler-icon:focus, .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler-icon img{
    width: 50px;
    margin-top: -16px;
  }